'.text.html.vue':
  'Vue Template Tag':
    'prefix': 'vuetemplate',
    'body': """
    <template${1: lang="$2"}>$0</template>
    """
  'Vue Script Tag':
    'prefix': 'vuescript',
    'body': """
    <script${1: lang="$2"}>$0</script>
    """
  'Vue Style Tag':
    'prefix': 'vuestyle',
    'body': """
    <style${1: lang="$2"}${3: scoped}>$0</style>
    """
  'Vue Full Component':
    'prefix': 'vuecomponent',
    'body': """
    <template${1: lang="$2"}>$8</template>

    <script${3: lang="$4"}>$9</script>

    <style${5: lang="$6"}${7: scoped}>$10</style>
    """
