# Javascript files
'.source.js, .source.ts':
  'Vue Directive':
    'prefix': 'vuedirective',
    'body': """
    Vue.directive('$1', {
    \tbind () {},
    \tupdate (value) {},
    \tunbind () {}// ,
    \t// params: [$4],
    \t// paramWatchers: {$6},
    \t// deep: ${8:false},
    \t// twoWay: ${10:false},
    \t// acceptStatement: ${12:false},
    \t// priority: ${14:1000}
    })
    """
