'.text.html.vue':
  'Vue Template Component':
    'prefix': 'vtemplate',
    'body': """
    <template ${1:lang="$2"}>$0</template>
    """
  'Vue Script':
    'prefix': 'vscript',
    'body': """
    <script>$0</script>
    """
  'Vue Style':
    'prefix': 'vstyle',
    'body': """
    <style ${1:lang="${2:scss}"} ${3:scoped}>$0</style>
    """
  'Vue Component':
    'prefix': 'vcomponent',
    'body': """
    <template ${1:lang="$2"}>$0</template>

    <script>$0</script>

    <style ${1:lang="${2:scss}"} ${3:scoped}>$0</style>
    """
