'.source.js':
  'Vue Filter':
    'prefix': 'vfilter',
    'body': """
    Vue.filter('$1', function(val$2) {
    \t${3:// Do something}
    })
    """
  'Vue Two-way Filter':
    'prefix': 'v2wayfilter',
    'body': """
    Vue.filter('$1', {
    \tread (val$2) {
    \t\t${4:// Do something}
    \t},
    \twrite (val${3:, oldVal}) {
    \t\t${5:// Do something}
    \t}
    })
    """
